<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Providers</title>
</head>
<body>
    <h1><a href="{% url "shop_list" %}">Sklepy</a> | Dostawcy</h1>
    <ul>
        {% for provider in object_list %}
        <li>{{ provider.name }}, zaopatruje {{ provider.shop }} :
        <a href="{%  url "provider_edit" provider.id %}">edytuj</a>
        <a href="{%  url "provider_delete" provider.id %}">usuń</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url "provider_new" %}">Nowy dostawca</a><br>

</body>
</html>